body {
  text-align: center;
  background: url("images/towel.jpg");
  margin: auto;
  background: #466368;
  background: -webkit-linear-gradient(#ffc3a0, #ffafbd);
  background:    -moz-linear-gradient(#ffc3a0, #ffafbd);
  background:         linear-gradient(#ffc3a0, #ffafbd);
  border-radius: 6px;
   height: 100%;
  font-family: 'Berkshire Swash', cursive;
}
h1 {
  color: white;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
li {
  display: inline;
  font-family: 'Berkshire Swash', cursive;
  font-weight: bold;
  border: 5px solid #0000
}
