body {
  margin: auto;
  background: #466368;
  background: -webkit-linear-gradient(#ffc3a0, #ffafbd);
  background:    -moz-linear-gradient(#ffc3a0, #ffafbd);
  background:         linear-gradient(#ffc3a0, #ffafbd);
  border-radius: 6px;
   height: 100%;
  font-family: 'Berkshire Swash', cursive;
}
h1 {
  text-align: center;
  font-family: 'Berkshire Swash', cursive;
  text: bold;
}
button {
  margin: center;
  background-color: #E33682
  border: 2px solid red;
  color: pink;
  padding: 32px 16px;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
  display: center;
  font-size: 24px;
}
li {
  display: inline;
  font-family: 'Berkshire Swash', cursive;
  font-weight: bold;
  border: 5px solid #0000
}

@keyframes mirror {
  100% {
    stroke-dashoffset: 0;
    }
  }

  #teetopp {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke-width: 95;
  animation: mirror 5s linear forwards;

}

#teebottomp {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke-width: 95;
  animation: mirror 5s linear forwards;
  animation-delay: 1s;
}

#ellp {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke-width: 95;
  animation: mirror 5s linear forwards;
  animation-delay: 2s;
}

#ceep {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke-width: 95;
  animation: mirror 5s linear forwards;
  animation-delay: 4s;
}

#heartp {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke-width: 95;
  animation: mirror 5s linear forwards;
  animation-delay:5.5s
}
